/*body{background-color:red;}test de connectivite css a html✅*/

.data{
  font-family: "Datatype", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.data,.no-select{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

.info{
    height: 164px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.part{
    background-color: powderblue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.gauche{
    display: inline-block;
    width: 40%;
    align-items: left;
}

.droite{
    display: inline-block;
    width: 40%;
    align-items: right;
}

.centre{
    margin-left: auto;
    margin-right: auto;
}