/*body{background-color:red;}test de connectivite css a html✅*/

p{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h4{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
}

.data{
  font-family: "Datatype", monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings: "wdth" 112 !important;
  height:5em;
}

*{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

.selectable{
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
}

.info{
    height: 164px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.part{
    background: url(./images/se-rectangle.svg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 400px;
    margin: 5px;
}

.btn{
    margin: 5px;
}

#groupe-projet{
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-bottom: 5px;
    background-color: #1e1f20;
}

.gauche{
    display: inline-block;
    align-items: left;
}

.droite{
    display: inline-block;
    align-items: right;
}

.centre{
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #131314;
    color: #c4c7c5;
    padding:0;
    margin:0;
}

#frame{
    padding: 0;
    margin: 5px;
}

.empty{
    color: #c4c7c550;
}

td{
    padding: 15px;
}

table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

#panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}