/*body{background-color:red;}test de connectivite css a html✅*/

p{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.data{
  font-family: "Datatype", monospace !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings: "wdth" 100 !important;
}

*{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

.selectable{
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
}

.info{
    height: 164px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.part{
    background-color: #1B1B1B;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.gauche{
    display: inline-block;
    width: 40%;
    align-items: left;
}

.droite{
    display: inline-block;
    width: 40%;
    align-items: right;
}

.centre{
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #131314;
    color: #c4c7c5;
}
